<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<title>Products</title>
</head>
<body>
	<div class="container">
		<h2>제품 목록</h2>
		<form method="post" action="/product/order">
			<table>
				<thead>
					<tr>
						<td>상품명test</td>
						<td>가격</td>
						<td>재고</td>
						<td>선택</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td th:text="${product.name}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.stock}"></td>
						<td><input type="checkbox" name="checked" th:value=${product.id}/></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" value="주문하기" />
		</form>
	</div>
</body>
</html>