<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<title>order</title>
</head>
<body>
	<div class="container">
		<h2>주문 목록</h2>
		<table>
			<thead>
				<tr>
					<td>상품명</td>
					<td>가격</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${ordered}">
					<td th:text="${product.name}"></td>
					<td th:text="${product.price}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>